{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<h1>Books</h1>
<a href="{{url_for('newBook')}}" class="btn btn-danger">
    Add Book
</a><br><br>

<ul>
    {% for book in books %}
    <li> {{book.title}} | {{book.author}}</li>
    <a href="{{url_for('editBook', book_id = book.id )}}">
        Edit
    </a>
    <a href="{{url_for('deleteBook', book_id = book.id )}}" style="margin-left: 10px;">
        Delete
    </a>
    <br> <br>
    {% endfor %}
</ul>

{% endblock %}